body{
    background-color: #B2D9F2;
}
.jumbotron{
    background-image: url("../img/clouds3.png");
    background-color: #abdcfc;
    height: 130px;
    margin-top: 0px;
    padding: 3px 0 0 0px;
    margin-bottom:0px;
    font-family: 'Raleway', sans-serif;
}

div {
    padding: 10px;
    margin: 0px;
    padding: 0px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}

h3{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

table{
    margin-top: 0px;
    text-align: center;
}
thead{
    background-color: #F2F2F2;
    text-align: center;
}
th{
    text-align: center;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
tbody{
    background-color: #F2F2F2;
}
#map-canvas{
    margin-top: 40px;
    width: 100%;
    height: 381px;
    border: 2px solid #cbcbcb;
}

#coordinates{
    text-align: center;
}
